/* .slick-next:before, 
.slick-prev:before {
    color: #ff8059;
    font-size:30px;
}
.slick-dots li button:before {
    color:#000;
    font-size:15px;
}
 .slick-dots li.slick-active button:before {
    color: #ff8059;
}  */
.slick-next:before {
    position:relative;
    left:-8px;
    top:-50px;
}
.slick-prev:before {
    position:relative;
    left:-142px;
    top:-50px;
}
.slick-slide {
    margin-right:0;
    width:130px;
}
.slick-prev:before {
    content:url("../rezult/arrow-left.svg");

}
.slick-next:before {
    content: url("../rezult/arrow-right.svg")
} 

@media screen and (max-width: 375px) {
    .slich-track {
        width:1200px;
    }
}